* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Start coding here */
:root {
  --Branding-Color: #ff7f50;
  --Secondary-color: cornsilk;
  --Hightlight-color: #d2691e;
  --Muted-Color: #a9a9a9
}

:root {
  --margin-Level-1:	1px;
  --margin-Level-2:	5px;
  --margin-Level-3:	10px;
  --margin-Level-4:	15px;
  --margin-Level-5:	20px;
}

:root {
  --padding-Level-1:	1px;
  --padding-Level-2:	5px;
  --padding-Level-3:	10px;
  --padding-Level-4:	15px;
  --padding-Level-5:	20px;
}

:root {
  --Small: 12px;
  --Medium:	16px;
  --Large:	20px;
  --Extra-Large:	30px;
  --Double-Extra-Large:	50px;
  --Triple-Extra-Large:	100px;
}

.introduction {
  background-color: var(--Secondary-color);
  padding: var(--padding-Level-5);
}

.introduction h1 {
  color: var(--Branding-Color);
  font-size: var(--Triple-Extra-Large);
}